body {
  background-color: #fff;
}

@keyframes resize {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bg-nav {
  background-color: #f7b526;
  font-size: 15px;
  padding: 10px;
  padding-bottom: 9px;
  position: relative;
}
.bg-nav .container-fluid .name {
  margin-left: 210px;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 10px;
  color: #fff;
  font-family: "Poppins", "sans-serif";
  font-weight: 700;
  margin-top: 5px;
  text-align: center;
  font-size: 20px;
}
.bg-nav .container-fluid .name span {
  font-size: 14px;
  letter-spacing: 4px;
  font-family: "Poppins", "sans-serif";
  font-weight: 400px;
}

.nav-link {
  margin-left: 25px;
  margin-right: 25px;
  font-weight: 700;
  font-family: "Poppins", "sans-serif";
  font-size: 17px;
}

.dropmenu {
  list-style: none;
  margin-right: 25px;
  font-weight: 700;
  font-family: "Poppins", "sans-serif";
  display: none;
  transition: all 2s;
}
.dropmenu.open {
  display: block;
}

.navbar-brand img {
  width: 150px;
  padding: 0;
  position: absolute;
  z-index: 999;
  top: 15px;
}

.menulist {
  display: inline-block;
}

@media all and (max-width: 1200px) {
  .bg-nav .container-fluid .name {
    margin-left: 160px;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 5px;
  }
  .bg-nav .container-fluid .name span {
    font-size: 12px;
    letter-spacing: 4px;
    font-weight: 400px;
  }
  .nav-link {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 700;
    font-size: 16px;
  }
  .navbar-brand img {
    width: 150px;
  }
}
@media all and (max-width: 990px) {
  .bg-nav .container-fluid .name {
    margin: auto;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 5px;
  }
  .bg-nav .container-fluid .name span {
    font-size: 12px;
    letter-spacing: 4px;
    font-weight: 400px;
  }
  .bg-nav .pad {
    padding-top: 100px;
  }
  .navbar-brand img {
    width: 110px;
  }
}
@media all and (max-width: 520px) {
  .navbar-brand img {
    width: 80px;
    margin-right: 5px;
  }
  .bg-nav .container-fluid .name {
    font-size: 16px;
    margin-left: 80px;
  }
  .bg-nav .container-fluid .name span {
    font-size: 8px;
  }
  .bg-nav .container-fluid .pad {
    padding-top: 70px;
  }
}
@media all and (max-width: 380px) {
  .navbar-brand img {
    display: none;
  }
  .bg-nav .container-fluid .name {
    margin: auto;
  }
  .bg-nav .pad {
    padding-top: 0;
  }
}
.section-header h2 {
  font-family: "Anton", sans-serif;
  color: #212529;
  font-size: 38px;
  padding-top: 80px;
  text-align: center;
}

.expirience {
  margin: 0;
  padding-top: 80px;
  padding-bottom: 200px;
}
.expirience .pop {
  height: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  float: left;
  margin-right: 30px;
  margin-bottom: 100px;
}
.expirience .pop img {
  width: 100%;
  max-height: 1000px;
  max-width: 600px;
  object-fit: cover;
  margin: 0 auto;
}
.expirience .pop .info-box-team-caption {
  position: absolute;
  right: 0;
  left: 0;
  padding-top: 20px;
  margin: auto;
  width: 500px;
  bottom: -50px;
  text-align: center;
  transition: all 0.3s;
  background-color: #fff;
  font-size: 17px;
}
.expirience .pop .info-box-team-caption:hover {
  box-shadow: 0 5px 20px #212529;
  padding-bottom: 20px;
  background-color: #f7b526;
  color: #fff;
}
.expirience .pop .info-box-team-caption:hover:hover .team-social-icons {
  height: 45px;
}
.expirience .pop .info-box-team-caption h3 span {
  font-size: 16px;
}
.expirience .pop .team-social-icons {
  transform: all 0.3s;
  height: 0;
  overflow: hidden;
  text-align: center;
}
.expirience .pop .team-social-icons a {
  height: 35px;
  width: 35px;
  font-size: 20px;
  border: 1px solid #212529;
  color: #212529;
  line-height: 35px;
  border-radius: 50%;
  margin: 0 10px;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}
.expirience .pop .team-social-icons a:hover {
  border: 1px solid #f7b526;
  color: #fff;
  background-color: #f7b526;
}
.expirience .text p {
  font-family: "Poppins", "sans-serif";
  font-size: 17px;
  color: #212529;
  line-height: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
}

@media all and (max-width: 1500px) {
  .expirience {
    padding-bottom: 160px;
  }
}
@media all and (max-width: 1200px) {
  .section-header h2 {
    font-size: 31px;
    padding-top: 80px;
  }
  .expirience {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .expirience .pop .info-box-team-caption {
    width: 350px;
  }
  .expirience .pop .info-box-team-caption h3 {
    font-size: 16px;
  }
  .expirience .pop .info-box-team-caption h3 span {
    font-size: 15px;
  }
  .expirience .pop .info-box-team-caption p {
    font-size: 16px;
  }
  .expirience .text p {
    font-size: 16px;
    text-align: justify;
  }
}
@media all and (max-width: 1200px) and (max-width: 1000px) {
  .expirience .pop {
    float: none;
  }
  .expirience .pop .info-box-team-caption {
    font-size: 16px;
  }
}
@media all and (max-width: 1200px) and (max-width: 1000px) and (max-width: 768px) {
  .expirience {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .expirience .pop {
    margin-bottom: 50px;
  }
  .expirience .pop .info-box-team-caption {
    box-shadow: 0 5px 20px #212529;
    padding-bottom: 20px;
    background-color: #f7b526;
    color: #fff;
  }
  .expirience .pop .info-box-team-caption h3 {
    font-size: medium;
  }
  .expirience .pop .info-box-team-caption p {
    font-size: smaller;
  }
  .expirience .text {
    padding-top: 110px;
  }
  .expirience .text h2 {
    font-size: 31px;
  }
  .expirience .text p {
    font-size: 16px;
  }
}
.contact {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-family: "Poppins", "sans-serif";
}
.contact .desctop-background {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  width: 40%;
}
.contact .contact-form {
  width: 60%;
  background-color: #f7b526;
  padding: 100px 40px;
}
.contact .contact-form .contact-form-info {
  font-size: 20px;
  padding-bottom: 15px;
}
.contact .appointment-message {
  width: 100%;
  display: none;
}
.contact .appointment-message.error {
  display: block;
  font-size: 20px;
  color: red;
}
.contact .appointment-message.send {
  display: block;
  color: #212529;
}

input,
select,
textarea {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #212529;
  background-color: #f7b526;
  display: inline-block;
  padding: 15px;
  margin-bottom: 15px;
  color: #212529;
  text-transform: uppercase;
}
input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* Edge */
  color: #212529;
}
input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  /* Edge */
  color: #212529;
}
input:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #212529;
}
input:-moz-placeholder,
select:-moz-placeholder,
textarea:-moz-placeholder {
  color: #212529;
}
input.error,
select.error,
textarea.error {
  border-bottom: 1px solid red;
}

label {
  text-transform: uppercase;
}

textarea {
  height: 100px;
}

.btn-form {
  font-weight: 700;
  background-color: #6c757d;
  color: #fff;
}
.btn-form:hover {
  background-color: #fff;
  color: #212529;
}

@media all and (max-width: 1200px) {
  .contact .contact-form {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media all and (max-width: 768px) {
  .desctop-background {
    display: none;
  }
  .contact .contact-form {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .contact .contact-form input,
  .contact .contact-form select {
    width: 100%;
  }
  .contact .contact-form textarea {
    margin: 30px 0;
  }
}
.btn-form {
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 15px;
  border: 0;
  color: #fff;
  font-size: 16px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 80px;
}
.services-list .service {
  position: relative;
  height: 500px;
  width: 24.5%;
}
.services-list .service img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.services-list .service .overlay {
  position: absolute;
  background-color: rgba(0, 0, 139, 0.6);
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  opacity: 0;
  transition: 0.3s;
  padding: 10px;
}
.services-list .service .overlay:hover {
  opacity: 1;
  cursor: pointer;
}
.services-list .service .overlay img {
  width: 60px;
  height: auto;
}
.services-list .service .overlay h3 {
  color: #fff;
}

@media all and (max-width: 1200px) {
  .services-list {
    padding-top: 80px;
  }
  .services-list .service {
    height: 390px;
    width: 49.5%;
    margin-bottom: 5px;
  }
}
@media all and (max-width: 768px) {
  .services-list .service {
    height: 280px;
    width: 100%;
  }
  .services-list .service .overlay {
    opacity: 1;
  }
}
.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer h2 {
  font-family: "Anton", sans-serif;
  padding-top: 80px;
  color: #212529;
  font-size: 38px;
  padding-bottom: 80px;
  margin: 0;
}
.offer p {
  font-family: "Poppins", "sans-serif";
  font-size: 17px;
  color: #212529;
  display: inline-block;
  line-height: 30px;
  text-align: justify;
}
.offer .offer-title {
  padding-top: 80px;
}

@media all and (max-width: 1200px) {
  .offer h2 {
    font-size: 31px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .offer p {
    font-size: 16px;
  }
  .offer .offer-title {
    padding-top: 80px;
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.technology {
  background-color: #fff;
}
.technology h2 {
  text-align: center;
  font-family: "Anton", sans-serif;
  padding-top: 80px;
  padding-bottom: 0px;
  color: #212529;
  font-size: 38px;
}
.technology .technology-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 60px;
  padding-bottom: 100px;
}
.technology .technology-icons a {
  font-size: 80px;
  line-height: 100px;
  color: #fff;
  text-shadow: 0 5px 20px #212529;
  text-align: center;
  margin-top: 10px;
}

@media all and (max-width: 1200px) {
  .technology h2 {
    font-size: 31px;
    padding-top: 80px;
  }
  .technology .technology-icons {
    padding-bottom: 140px;
  }
}
@media all and (max-width: 768px) {
  .technology h2 {
    font-size: 31px;
    padding-bottom: 0;
  }
  .technology .technology-icons {
    padding-top: 30px;
    padding-bottom: 70px;
  }
  .technology .technology-icons a {
    font-size: 40px;
  }
}
.process {
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
}
.process .pop {
  width: 50%;
  position: relative;
}
.process .pop img {
  width: 100%;
  height: 410px;
  object-fit: cover;
}
.process .pop .idea-sm {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Anton", sans-serif;
  opacity: 0;
}
.process .pop .idea-sm h2 {
  color: #fff;
  text-shadow: 0 5px 20px #212529;
  font-size: 31px;
}
.process .text {
  width: 50%;
  margin: auto;
}
.process .text h2 {
  font-family: "Anton", sans-serif;
  color: #212529;
  font-size: 31px;
  text-align: center;
}
.process .text p {
  font-family: "Poppins", "sans-serif";
  font-size: 17px;
  color: #212529;
  padding-top: 50px;
  line-height: 40px;
  padding-left: 20px;
}

.process-next {
  padding-top: 0;
}

@media all and (max-width: 768px) {
  .process {
    padding-bottom: 50px;
  }
  .process .pop {
    order: -1;
  }
  .process .pop img {
    height: 230px;
    padding-bottom: 0;
  }
  .process .pop .idea-sm {
    opacity: 1;
    height: 230px;
    padding-bottom: 0;
  }
  .process .text h2 {
    display: none;
  }
}
@media all and (max-width: 1200px) {
  .process .text h2 {
    font-size: 27px;
  }
  .process .text p {
    font-size: 16px;
  }
  .process-next {
    padding-top: 0;
  }
}
.footer {
  background-color: #f7b526;
  padding: 25px;
  font-family: "Poppins", "sans-serif";
  color: #212529;
  font-size: 17px;
  padding-top: 180px;
  padding-bottom: 180px;
}
.footer .row {
  margin-left: 0;
  margin-right: 0;
}
.footer .row .contact-data {
  padding: 0;
  width: 38%;
}
.footer .row .contact-data .logo1 {
  display: none;
}
.footer .row .contact-data .contact-item {
  display: flex;
  flex-wrap: wrap;
  line-height: 35px;
}
.footer .row .contact-data .contact-item .img-holder {
  width: 15%;
  text-align: center;
}
.footer .row .contact-data .contact-item .img-holder img {
  width: 30px;
}
.footer .row .contact-data .contact-item p {
  justify-content: flex-start;
  color: #212529;
}
.footer .row .contact-data .contact-item p a {
  color: #212529;
}
.footer .row .logo {
  text-align: center;
  padding: 0;
  width: 24%;
}
.footer .row .logo img {
  width: 300px;
}
.footer .row .contact-social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  width: 38%;
}
.footer .row .contact-social-media h3 {
  font-size: 38px;
  font-family: "Anton", sans-serif;
  width: 100%;
  text-align: center;
}
.footer .row .contact-social-media a {
  font-size: 60px;
  margin: 20px;
  text-shadow: 0 5px 20px #212529;
  color: #f7b526;
}
.footer .row .contact-social-media a:hover {
  color: #fff;
}
.footer .rights {
  text-align: center;
  padding-top: 130px;
}
.footer .rights a {
  color: #212529;
  text-decoration: none;
}

@media all and (max-width: 1320px) {
  .footer {
    font-size: 16px;
    padding-top: 140px;
    padding-bottom: 40px;
  }
  .footer .row {
    justify-content: space-evenly;
  }
  .footer .row .contact-data {
    width: 42%;
  }
  .footer .row .logo {
    width: 16%;
    text-align: center;
  }
  .footer .row .logo img {
    width: 150px;
  }
  .footer .row .contact-social-media {
    width: 42%;
  }
  .footer .row .contact-social-media h3 {
    font-size: 31px;
  }
}
@media all and (max-width: 996px) {
  .footer {
    padding-top: 110px;
    padding-bottom: 40px;
  }
  .footer .row .contact-data {
    width: 60%;
  }
  .footer .row .contact-data .logo1 {
    display: block;
    padding-left: 40px;
    padding-bottom: 70px;
  }
  .footer .row .contact-data .logo1 img {
    width: 150px;
  }
  .footer .row .logo {
    display: none;
  }
  .footer .row .contact-social-media {
    width: 40%;
    height: 180px;
  }
  .footer .row .contact-social-media a {
    font-size: 40px;
  }
}
@media all and (max-width: 770px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .footer .row .contact-data {
    width: 100%;
  }
  .footer .row .contact-data .logo1 {
    text-align: center;
    padding: 30px;
    padding-bottom: 100px;
  }
  .footer .row .contact-data .logo1 img {
    width: 150px;
  }
  .footer .row .contact-data .contact-item .img-holder {
    width: 100%;
  }
  .footer .row .contact-data .contact-item p {
    width: 100%;
    text-align: center;
    padding-top: 30px;
  }
  .footer .row .contact-social-media {
    width: 100%;
    padding-top: 80px;
    margin-bottom: 80px;
  }
  .footer .row .contact-social-media a {
    font-size: 40px;
  }
}
.faq {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 40px;
  padding-bottom: 250px;
}
.faq .about .section-header h2 {
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
}
.faq .about .accordion .card {
  font-family: "Poppins", "sans-serif";
  color: #212529;
}
.faq .about .accordion .card .card-header {
  background-color: #f7b526;
}
.faq .about .accordion .card .card-header h2 {
  font-size: 17px;
}
.faq .about .accordion .card .card-header h2 .btn {
  font-family: "Poppins", "sans-serif";
  color: #212529;
  text-decoration: none;
}
.faq .about .accordion .card .card-header h2 .btn:hover {
  color: #fff;
}
.faq .about .accordion .card .card-header h2 .btn:focus {
  box-shadow: none;
}

@media all and (min-width: 1200px) {
  .accordion {
    font-size: 17px;
  }
  .accordion .card .card-header h2 .btn {
    font-size: 17px;
  }
}
@media all and (max-width: 1200px) {
  .accordion {
    font-size: 16px;
  }
  .accordion .card .card-header h2 .btn {
    font-size: 16px;
  }
}
@media all and (max-width: 768px) {
  .faq {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    padding-bottom: 170px;
  }
}
.webstores .services header {
  padding-bottom: 60px;
}
.webstores .services .hosting-information {
  font-size: 27px;
  padding-top: 30px;
  padding-bottom: 50px;
}

ol {
  text-align: justify;
}

#closed {
  height: 800px;
  background-position: bottom;
}
#closed h2 {
  text-align: center;
  color: #fff;
  padding-top: 150px;
  font-family: "Anton", sans-serif;
}
#closed p {
  text-align: center;
  padding-top: 20px;
  color: #fff;
}

.main-photo img {
  width: 100%;
  object-fit: cover;
  max-height: 600px;
}

.web {
  padding-bottom: 80px;
}
.web p {
  padding-bottom: 80px;
  text-align: justify;
}

.web-container {
  padding-bottom: 0px;
  font-family: "Poppins", "sans-serif";
}
.web-container .web-offer {
  padding-bottom: 80px;
  min-height: 500px;
}
.web-container .web-offer .web-text {
  font-size: 17px;
  line-height: 30px;
  text-align: justify;
}
.web-container .web-offer .web-text h2 {
  font-family: "Anton", sans-serif;
  font-size: 27px;
  padding-bottom: 40px;
  text-align: start;
}
.web-container .web-offer .web-text ul {
  list-style: circle;
}
.web-container .web-offer .web-text .icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 100px;
  margin: 20px;
  color: #fff;
  text-shadow: 0 5px 20px #212529;
  margin-left: 30px;
  margin-top: 50px;
}
.web-container .web-offer .web-photo img {
  width: 600px;
  float: right;
  padding: 30px;
  object-fit: cover;
}
.web-container .web-offer .l img {
  float: left;
}

@media all and (max-width: 1200px) {
  .web {
    padding-bottom: 60px;
  }
  .web-container .web-offer .web-text {
    font-size: 16px;
  }
}
@media all and (max-width: 1000px) {
  .web-container .web-offer .web-photo img {
    width: 100%;
    height: 300px;
    padding: 0;
    padding-bottom: 50px;
  }
  .web-container .web-offer .web-text .icons {
    margin-top: 60px;
  }
}
@media all and (max-width: 700px) {
  .web-container .web-offer .web-text .icons {
    font-size: 70px;
  }
}/*# sourceMappingURL=style.css.map */