
.webstores {
    header {
        padding-bottom: 60px;
    }
    .hosting-information {
        font-size: 35px;
        padding-top: 30px;
    }
 
}

.main-photo {
    img {
        width: 100%;
        object-fit: cover;
        max-height: 800px;
    }
 
}

.web {
    padding-bottom: 160px;

    p {
        padding-bottom: 0;
        text-align: justify;
     
    }
}

.web-container {
    padding-bottom: 80px;

    font-family: $primary-font-family;

    .web-offer {
        padding-bottom: 80px;

        .web-text {
            font-size: $font-text;
            line-height: 30px;
            text-align: justify;

            h2 {
                font-family: fantasy;
                font-size: 35px;
                padding-bottom: 40px;
                text-align: start;
            }
            ul {
                list-style:circle;
            }
            .icons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
                    font-size: 100px;
                    margin: 20px;
                    color: #fff;
                    text-shadow: 0 5px 20px $font-color;
                    margin-left: 30px;
                    margin-top: 50px;
                }
            
        }

        .web-photo {

            img {
                width: 600px;
                float: right;
                padding: 30px;
                object-fit: cover;
            }

        }

        .l {
            img {
              
                float: left;
               
            }
        }
    }
}

@media all and (max-width: 1200px) {
    .web {
        padding-bottom: 80px;
    }

    .web-container {

        .web-offer {
            .web-text {
                font-size: $font-tekst-md;

            }

        }
    }
}

@media all and (max-width: 1000px) {
    .web-container {

        .web-offer {

            .web-photo {

                img {
                    width: 100%;
                    height: 300px;
                    padding: 0;
                    padding-bottom: 50px;

                }

            }
            .web-text {
                .icons {
                    margin-top: 60px;
                }

            }
      
            }
        }
    }

    @media all and (max-width: 700px) {
       
    .web-container {
    
            .web-offer {
                .web-text {
                    .icons {
                        font-size: 70px;
                    }
    
                }
    
            }
        }
    }

    
    