$primary-color: #f7b526;
$secondary-color: blue;
$font-color: #212529;
$additional-color: #6c757d;
$font-text: 17px;
$font-tekst-md: 16px;
$headers: 38px;
$headers-md: 31px;
$primary-font-family: 'Poppins', 'sans-serif';
$font-headers: 'Anton', sans-serif;