$primary-color: #f7b526;
$secondary-color: blue;
$font-color: #212529;
$additional-color: #6c757d;
$font-text: 25px;
$font-tekst-md: 20px;
$headers: 50px;
$headers-md: 40px;
$primary-font-family: 'Poppins', 'sans-serif';
// $primary-font-family: 'kanit';