$primary-color: #f7b526;
$secondary-color: blue;
$font-color: #212529;
$additional-color: #6c757d;
$font-text: 20px;
$font-tekst-md: 17px;
$headers: 40px;
$headers-md: 33px;
$primary-font-family: 'Poppins', 'sans-serif';
$font-headers: 'Oswald', 'sans-serif';