.section-header {

    h2 {
        font-family: $font-headers;
        color: $font-color;
        font-size: $headers;
        padding-top: 80px;
        text-align: center;
    }
}

.expirience {
    margin: 0;
    // margin-top: 60px;
    padding-top: 80px;
    padding-bottom: 200px;
    // display: flex;
    // flex-wrap: wrap;

    .pop {
        // margin-top: 30px;
        // width: 25%;
        height: 90%;
        position: relative;
        display: flex;
        flex-direction: column;
        // box-shadow: 0 5px 20px $font-color;
        float: left;
        margin-right: 30px;
        margin-bottom: 100px;



        img {
            width: 100%;
            max-height: 1000px;
            max-width: 600px;
            object-fit: cover;
            margin: 0 auto;

        }

        .info-box-team-caption {
            position: absolute;
            right: 0;
            left: 0;
            padding-top: 20px;
            margin: auto;
            width: 500px;
            bottom: -50px;
            text-align: center;
            transition: all .3s;
            background-color: #fff;
            // box-shadow: 0 5px 20px $font-color;
            font-size: $font-text;


            &:hover {
                padding-bottom: 20px;
                background-color: $primary-color;
                color: #fff;

                // &:hover .team-social-icons {
                //     height: 45px;
                // }
                &:hover .mailto {
                    font-size: 16px;
                }
            }

            h3 {
                span {
                    font-size: 16px;
                }
            }
        }
        .mailto {
            font-size: 0px;
            color: #fff;
            font-weight: 600;
            text-decoration: none;
        }

    //     .team-social-icons {
    //         transform: all .3s;
    //         height: 0;
    //         overflow: hidden;
    //         text-align: center;

    //         a {
    //             height: 35px;
    //             width: 35px;
    //             font-size: 20px;
    //             border: 1px solid $font-color;
    //             color: $font-color;
    //             line-height: 35px;
    //             border-radius: 50%;
    //             margin: 0 10px;
    //             display: inline-block;
    //             text-align: center;
    //             margin-top: 10px;


    //             &:hover {
    //                 border: 1px solid $primary-color;
    //                 color: #fff;
    //                 background-color: $primary-color;
    //             }
    //         }
    //     }
    }

    .text {
        // width: 65%;
        // margin-left: 5%;


        p {
            // font-family: $primary-font-family;
            // font-size: $font-text;
            // color: $font-color;
            // padding: 0 20px 0 20px;
            // padding-top: 50px;
            // text-shadow: 0 5px 20px $font-color;
            line-height: 30px;
            padding-left: 30px;
            padding-right: 30px;
            text-align: justify;
        }
    }
}

@media all and (max-width: 1500px) {
    .expirience {
        padding-bottom: 160px;
    }
}

@media all and (max-width: 1200px) {

    .section-header {
        h2 {
            font-size: $headers-md;
            padding-top: 80px;
        }
    }


    .expirience {
        padding-top: 80px;
        padding-bottom: 80px;


        .pop {

            .info-box-team-caption {
                width: 350px;

                h3 {
                    font-size: $font-tekst-md;

                    span {
                        font-size: 15px;
                    }
                }

                p {
                    font-size: $font-tekst-md;
                }

            }
        }

     
        .text {

            p {
                font-size: $font-tekst-md;
                text-align: justify;
            }

        }
    }

    @media all and (max-width: 1000px) {
        .expirience {
            .pop {
                float: none;

                .info-box-team-caption {
                    font-size: $font-tekst-md;
                }

            }
        }


        @media all and (max-width: 768px) {

            .expirience {
                padding-top: 80px;
                padding-bottom: 80px;

                .pop {
                    margin-bottom: 50px;


                    .info-box-team-caption {
                        // box-shadow: 0 5px 20px $font-color;
                        padding-bottom: 20px;
                        background-color: $primary-color;
                        color: #fff;

                        h3 {
                            font-size: medium;
                        }

                        p {
                            font-size: smaller;
                        }
                    }

                }

                .text {
                    // width: 100%;
                    padding-top: 110px;


                    h2 {
                        font-size: $headers-md;
                    }

                    p {
                        font-size: $font-tekst-md;

                    }

                }
            }
        }
    }
}