.faq {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 40px;
    padding-bottom: 300px;



    .about {
        .section-header {

            h2 {
                padding-top: 160px;
                padding-bottom: 160px;
                color: #fff;
            }

        }

        .accordion {
            .card {
                font-family: $primary-font-family;
                color: $font-color;

                .card-header {
                    background-color: $primary-color;

                    h2 {
                        font-size: $font-text;

                        .btn {
                            font-family: $primary-font-family;
                            color: $font-color;
                            text-decoration: none;

                            &:hover {
                                color: #fff;


                            }

                            &:focus {
                                box-shadow: none;
                            }

                        }

                    }
                }
            }
        }
    }
}

@media all and (min-width: 1200px) {
    .accordion {
        font-size: $font-text;

        .card {
            .card-header {
                h2 {
                    .btn {
                        font-size: $font-text;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1200px) {
    .accordion {
        font-size: $font-tekst-md;

        .card {
            .card-header {
                h2 {
                    .btn {
                        font-size: $font-tekst-md;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 768px) {
    .faq {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}